<div class="w-[80%] lg:w-1/2 flex justify-between items-center">
  <h1 class="text-2xl font-bold">Listado de Productos</h1>
  <a
    class="bg-indigo-500 rounded-lg p-1 transition-colors duration-300 hover:bg-indigo-800"
    href="/create"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-circle-plus cursor-pointer"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
      <path d="M9 12h6" />
      <path d="M12 9v6" />
    </svg>
  </a>
</div>
<div
  class="relative overflow-x-auto shadow-md sm:rounded-lg w-[80%] lg:w-1/2 bg-gray-700"
>
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3 text-center">Nombre del Producto</th>
        <th scope="col" class="px-6 py-3 text-center">Categoría del Producto</th>
        <th scope="col" class="px-6 py-3 text-center">Precio del Producto</th>
        <th scope="col" class="px-6 py-3 text-center">Acciones</th>
      </tr>
    </thead>
    <tbody class="bg-gray-800">
      {{#each products}}
        <tr>
          <td
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center"
          >{{name}}</td>
          <td class="px-6 py-4 text-center">{{category}}</td>
          <td class="px-6 py-4 text-center">{{price}}</td>
          <td class="px-6 py-4 flex space-x-2 justify-center items-center">
            <a
              href="/show/{{id}}"
              class="font-medium text-white rounded-md p-2 bg-green-500 transition-colors duration-300 hover:bg-green-800"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-eye"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path
                  d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"
                /><path
                  d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"
                /></svg>
            </a>
            <a
              href="/edit/{{id}}"
              class="font-medium text-white rounded-md p-2 bg-indigo-500 transition-colors duration-300 hover:bg-indigo-800"
            ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-edit"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                />
                <path
                  d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                />
                <path d="M16 5l3 3" /></svg></a>
            <a
              href="/delete/{{id}}"
              class="font-medium text-white rounded-md p-2 bg-red-500 transition-colors dutation-300 hover:bg-red-800"
            ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-trash"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M4 7l16 0" />
                <path d="M10 11l0 6" />
                <path d="M14 11l0 6" />
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg></a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td class="px-6 py-4 text-center" colspan="4">No hay productos
            disponibles</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>