<div
  class="w-[80%] lg:w-1/2 grid [grid-template-rows:repeat(auto-fit,minmax(300px, 1fr))] gap-4"
>
<h2 class="text-2xl font-bold">Información del producto: {{product.name}}</h2>
  <div class="bg-gray-800 rounded-lg p-4 flex flex-col gap-3">
    <h3 class="font-bold text-lg">Nombre:</h3>
    <span>{{product.name}}</span>
  </div>
  <div class="bg-gray-800 rounded-lg p-4 flex flex-col gap-3">
    <h3 class="font-bold text-lg">Código:</h3>
    <span>{{product.code}}</span>
  </div>
  <div class="bg-gray-800 rounded-lg p-4 flex flex-col gap-3">
    <h3 class="font-bold text-lg">Categoría:</h3>
    <span>{{product.category}}</span>
  </div>
  <div class="bg-gray-800 rounded-lg p-4 flex flex-col gap-3">
    <h3 class="font-bold text-lg">Precio:</h3>
    <span>{{product.price}}</span>
  </div>
</div>